* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: auto;
  margin: 50px auto;
  font: 150px Monaco,"Times New Roman","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  text-align: center
}

a {
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
